
.padre{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
    height: 100%;
   
   
  }
 
  .titulo{
      color:black;
      font-size: 45;
      font-weight: bold;
    font-size: 60px;
  }



  .hijo1{
    background: linear-gradient(to right,rgba(0, 255, 85, 0.8),#08e9b8);
    width: 100%;
    height: 300px;
  }
.perro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 30px;
}
  .hijo2{
    background: linear-gradient(to left,rgba(255, 255, 0, 0.8),#ff2600);
      display: flex;
      flex-direction: column;
      flex: 1 1 20%;
      align-content: center;
      align-items: center;
     
   }
   .boton{
       display: flex;
       border: 5px;
   
       flex-direction: column;
       text-decoration: none;
       color: black;
       font-weight: bold;
       align-items: baseline;
   }
  
   .hijo2:hover{
       height:45px;
       font-size: 18px;
       transition: 0.2s;
   }
 
 