
 .errors{
     color: #ff0000;
     font-size: small;
     font-weight: bold;
     margin-left: 5px;
   
     
 }  

 .errors2{
    color: #1e6408;
    font-size: small;
    font-weight: bold;
    margin-left: 5px;
    
}  



 